__pycache__
.mypy_cache
.ipynb_checkpoints
.vscode
.idea
.ropeproject
checkpoints
logs
samples
images
test
venv
runs
ti_2D
ti_3D
datasets
data
oldruns
figs

*.hdf5
*.txt
*.pyc

*.log
*.aux
*.synctex.gz

notebook.py
